@charset "utf-8";

.service_heading {
  font-size: 16px;
  margin-bottom: 70px;
  letter-spacing: 0.12em;
  text-align: center;
}

.combined_text + .combined_title {
  margin-top: 120px;
}

.combined_photo {
  top: 43%;
}
