@charset "utf-8";

.design {
  position: relative;
  max-width: 1000px;
  margin: 10px auto 0px;
}
.design_subheading {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  transform: rotate(-90deg);
  font-family: "Noto Serif JP", serif;
  font-size: 52px;
  color: #dfdfdf;
}
.design_subheading.-left {
  left: -160px;
}
.design_subheading.-right {
  right: -160px;
}
.design_lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px 50px;
}
.design_list {
  height: 500px;
  background: gray;
  border: 1px solid pink;
}